:root {
    --theme: black;
    --ani-t: 15s;
    --font: #E363AA;
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}
body
{
    overflow-x: hidden;
}

/*Main Divs*/
.header {
    height: 110px;
    display: flex;
    flex-direction: row;
    z-index: 5;
    position: relative;
    z-index: 9;
}

.body {
    height: 1000px;
}

.footer {
    position: static;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Header Division*/
.logo {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-name {
    font-family: 'Rubik 80s Fade', cursive;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-name img{
    width: 80%;
}

.nav {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links {
    display: flex;
    flex-direction: row;
    font-family: 'Titan One', cursive;
    color: var(--font);
}

.link {
    margin: 30px;
}


/*Slides*/
.slide {
    width: 90%;
    height: 300px;
    transition: 0.6s;
    position: absolute;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Titan One', cursive;
    font-size: 40px;   
    box-shadow: 10px 10px 5px #aaaaaa;
}


.info-cards {
    width: 80%;
    height: 400px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

/*Slides*/
#slide1 {
    animation-name: slide1;
    animation-duration: var(--ani-t);
    animation-iteration-count: infinite;
    background-color: aqua;
}

@keyframes slide1 {
    0%{
        margin-left: 10%;
    }
    20% {
        margin-left: 100%;
        height: 200px;
    }
    40%
    {
        margin-left: 100%;
    }
    60% {
        margin-left: 100%;
    }
    80%{
        margin-left: -100%;
        height: 200px;
    }
    100%{
        margin-left: 10%;
        height: 300px;
    }
}

#slide2 {
    animation-name: slide2;
    animation-duration: var(--ani-t);
    animation-iteration-count: infinite;
    background-color: bisque;
}
@keyframes slide2 {
    0% {
        margin-left: -100%;
        height: 200px;
    }
    20%{
        margin-left: 10%;
        height: 300px;
    }
    40%
    {
        margin-left: 100%;
        height: 200px;
    }
    60% {
        margin-left: 100%;
    }
    80%{
        margin-left: 100%;
    }
    100%{
        margin-left: 100%;
    }
}

#slide3 {
    animation-name: slide3;
    animation-duration: var(--ani-t);
    animation-iteration-count: infinite;
    background-color: blueviolet;
}
@keyframes slide3 {
    0% {
        margin-left: -100%;
    }
    20%{
        margin-left: -100%;
        height: 200px;
    }
    40%
    {
        margin-left: 10%;
        height: 300px;
    }
    60% {
        margin-left: 100%;
        height: 200px;
    }
    80%{
        margin-left: 100%;
    }
    100%{
        margin-left: 100%;
    }
}
#slide4 {
    animation-name: slide4;
    animation-duration: var(--ani-t);
    animation-iteration-count: infinite;
    background-color: crimson;
}
@keyframes slide4 {
    0% {
        margin-left: -100%;
    }
    20%{
        margin-left: -100%;
    }
    40%
    {
        margin-left: -100%;
        height: 200px;
    }
    60% {
        margin-left: 10%;
        height: 300px;
    }
    80%{
        margin-left: 100%;
        height: 200px;
    }
    100%{
        margin-left: 100%;
    }
}
#slide5 {
    animation-name: slide5;
    animation-duration: var(--ani-t);
    animation-iteration-count: infinite;
    background-color: cornsilk;
}
@keyframes slide5 {
    0% {
        margin-left: -100%;
    }
    20%{
        margin-left: -100%;
    }
    40%
    {
        margin-left: -100%;
    }
    60% {
        margin-left: -100%;
        height: 200px;
    }
    80%{
        margin-left: 10%;
        height: 300px;
    }
    100%{
        margin-left: 100%;
        height: 200px;
    }
}

/*Intro Para*/
.front-para
{
    position: absolute;
    top: 100%;
    left: 15%;
}
.para-name
{
    font-size: 50px;
    margin-top: 10px;
    font-family: 'Black Ops One', cursive;
}
.para-tag
{
    font-size: 25px;
    font-family: 'Advent Pro', sans-serif;
}
.para-img
{
    position: absolute;
    right: 25%;
    top: 110%;
    transform: rotate(10deg);
}
.para-img img
{
    width: 100%;
}
.para-imgs
{
    position: absolute;
    right: 18%;
    top: 108%;
    transform: rotate(15deg);   
}
.para-imgs img
{
    width: 60%;
}

/*lines*/
.h-line
{
    width: 120%;
    position: absolute;
    top:0%;
    left: -15%;
}
.v-line
{
    width: 70%;
    position: absolute;
    left: -40%;
    top: 60%;
    transform: rotate(90deg);
}
.h-line hr
{
    border: 1px solid;
}
.v-line hr
{
    border: 1px solid;
}


/*Footer*/
.foot-head
{
    font-family: 'Advent Pro', sans-serif;
}
.icon
{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin: 20px;
    background-color: var(--font);
}
.social
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.copyright
{
    font-family: 'Advent Pro', sans-serif;
}